 header{
    background-color: lightskyblue;
    width: 100%;
    float: bottom;
    margin-right:2%;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid white;
    /*position: fixed;
    height: 100px;*/
 }

 #titleAndImageHeader{
     padding-top:.3rem;
     padding-bottom:.3rem;
     margin-right:1rem;
     font-size:1.25rem;
     text-decoration:none;
     white-space:nowrap;                                /*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
 }


/* IMAGEN NP SE AJUSTA NO HACE UNA MIERDA */


#headerTitle{
    font-family: "Comic Sans MS", sans-serif;
    color: goldenrod;
    text-align: center;
    padding-top: 8%;
    font-size: 48px;
    height: 100%;                       /* ALINEAR TEXTO EN EL CENTRO DE LA PAG */
    width: 50%; /* VA A HABER QUE AJUSTARLO CON LA IMAGEN A LA MISMA ALTURA */
}

.imgHeader{
    float: left;
    width: 40%;
    margin-right: 5%;
}


/* SIDEBAR */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    display: flow;
    height: 100%;
    overflow: auto;
}

/* item !selected form the sidebar */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/*when hovered, an item will look like this*/

.sidebar a:hover {
    margin:0;
    background-color: lightskyblue;
    padding: 4%;
    border-radius: 2px;
    color: goldenrod;
}
/* This is what is next to the sidebar */
#content {
    margin-left: 200px;
    padding: 16px;
    height: 1000px; /* possible 100% */
}

/* function to adjust the sidebar below the header when the width is less than 700px */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    .itemSidebar{
        width: 25%;
    }
    #content {
        margin-top: 100px;
        margin-left: 0;
    }
}

/* function to adjust the sidebar below the header and only one item per row when the width is less than 400px */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    .itemSidebar{
        width: 100%;
        text-align: center;
    }
}

#sidebarHeader{
    background-color: lightskyblue;
    color: white;
    border-radius: 2px;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

#sidebarTitle{
    font-family: "Comic Sans MS",sans-serif;
    font-size: 18px;
}

.itemSidebar{
    border-radius: 15px;
    border: 1px solid white;
}

/* END OF SIDEBAR */

.pageHeader{
    width: 100%;
    float: left;
}
















/* ANOTHER PAGE*/

/* NEWSSSSSSSSSSSSSSSSSSSSSSS*/


/* TITLENEWS H2 */

#newsTitle{
    font-family: "Comic Sans MS",sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}