/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-may-2022, 16:47:13
    Author     : tomas
*/
#mainTitle {
    color: blue;
    text-align: center;
    
}

.game{
    text-align: center;
}

.btnField{
    width: 50px;
    height: 50px;
}


#message{
    display: none;
    font-weight: bold;
}

#crono {
    display: none;
}

#score {
    display: none;
}