/* ID
     /* img */
    #imgCine{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

/*CLASSES
    /* li MOVIES */
    .liMovies{
        border-radius: 5px;
        background-image: linear-gradient(rgb(87,190,221),rgb(43,171,210));
        font-size: 13px; /* check font size*/
        border: 1px solid rgb(56,171,205);
    }

    /* MOVIES TITLES*/
    .movieTitles{
        color: rgb(218,28,86);
        font-weight: normal;
    }





