
header{
    width: 100%;
    float: bottom;
    margin-right:2%;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid white;
    top: 0px;
    /*position: fixed;
    height: 100px;*/
 }

 #titleAndImageHeader{
     padding-top:.3rem;
     padding-bottom:.3rem;
     margin-right:1rem;
     font-size:1.25rem;
     text-decoration:none;
     white-space:nowrap;                                /*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
 }

 .borderRight{
     border-right: 1px solid white;
 }

/* IMAGEN NP SE AJUSTA NO HACE UNA MIERDA */


#headerTitle{
    color: goldenrod;
    text-align: center;
    padding-top: 8%;
    font-size: 48px;
    height: 100%;                       /* ALINEAR TEXTO EN EL CENTRO DE LA PAG */
    width: 50%; /* VA A HABER QUE AJUSTARLO CON LA IMAGEN A LA MISMA ALTURA */
}

.imgHeader{
    float: left;
    width: 40%;
    margin-right: 5%;
}

#w-100{
    width: 100%;
}

/* SIDEBAR */

.sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    float: left;
    /*overflow: auto;
    display: flow;*/
}

/* item !selected form the sidebar */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/*when hovered, an item will look like this*/

.linkNavbar:hover {
    margin:0;
    border: 0;
    background-color: goldenrod;
    padding: 4%;
    border-radius: 5px;

}

.zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* This is what is next to the sidebar */
.zoomRotation{
    transition: transform 2s;
}

.zoomRotation:hover{
    transform: scale(1.25);
    transform: rotate(9deg);
}
/* function to adjust the sidebar below the header when the width is less than 700px */
/*@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    header{
        position: relative;
    }
    /*.itemSidebar{
        width: 25%;
    #content {
 margin-top: 100px;
 margin-left: 0;
 }
 }
    }*/

/* function to adjust the sidebar below the header and only one item per row when the width is less than 400px */
/*@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    .itemSidebar{
        width: 100%;
        text-align: center;
    }
    header{
        float: none;
    }

}



#sidebarHeader{
    background-color: lightskyblue;
    color: white;
    borde r -radius: 2px;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

#sidebarTitle{
    font-family: "Comic Sans MS",sans-serif;
    font-size: 18px;
}
 */
.linkNavbar{
    border:solid white;
    border-width:1px 1px 1px 1px;
}

/* END OF SIDEBAR */

/*.pageHeader{
    width: 100%;
    float: left;
}/*



/* classes to center a text inside an image*/
 .contenedor{
     position: relative;
     display: inline-block;
     text-align: center;
 }


 .centered{
     background-image: url("../images/PeritoMoreno1.jpg");
     display: block;
 }


/* foto perito moreno cambio tamaño letra
h2.welcome{
   font-size: 52px;
}

h6.welcome{
    font-size: 24px;
}
*/


.titlesHomePage{
    font-size: 72px;
    /*justify-content: left;*/
    text-decoration: none;
    font-family: Cambria;
    
}

 /* FADE IN */
 .titlesFadingPages:hover {
     opacity: 0;
     animation: fade 5s linear;
 }
 @keyframes fade {
     0% { opacity: 0 }
     100% { opacity: 1 }
 }



 .backImageMoonValey{
     background-image: url("../images/MoonValley.jpg");
     /* SE REPITE LA IMAGEN AL HACER ZOOM OUTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/
 }
.backImageFitzRoy{
    background-image: url("../images/FitzRoy.jpg");
    /* SE REPITE LA IMAGEN AL HACER ZOOM OUTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/
}
.backImageIguazu{
    background-image: url("../images/IguazuFalls.jpg");
}

.bgLinearLightBlueToWhite{
    background-image: radial-gradient(cornflowerblue, lightcyan);
}

.bgCornBlue{
    background-color: cornflowerblue;
}

.bgMainPage{
    background-color: rgb(216,243,254);;
}
@font-face {
    font-family: Arcane_Nine;
    src:  url('../fonts/Arcane_Nine.otf') format('opentype');
}

p{
    font-family: Cambria, sans-serif;
}

h1, h2, h3, h4, nav{
    font-family: Arcane_Nine, sans-serif;
}


h2{
    font-size: 82px!important; /*the !important is used to override the value given by the browser*/
}

h3.subtitle{
    font-size: 48px!important;
}

h3{
    text-align: center;
    font-size: 52px;
    color: #06357a;
}

h4{
    color: darkgoldenrod;
}

.list-group-item{
    background:transparent!important;
}

/*.changeOnClick{
    background-image: url("../images/plus.png");
}

.visited{
    background-image: url("../images/MoonValley.jpg");
}*/
/* ANOTHER PAGE*/


/* GEOGRAPHY
#geographyMain{
    background-image: url("../images/BackgroundShapes2.jpg");
    height: 100%;
    width: 100%;
}
*/


.blackBorder_x{
    border-left: 1px solid black;
    border-right: 1px solid black;

}

/* NEWSSSSSSSSSSSSSSSSSSSSSSS*/







