/* Header */
#menuHeader{
    background-image: linear-gradient(rgb(154,186,71), rgb(105,134,28));
}

#headerH1{
    margin-left: 1%;
    padding-top: 3%;
    font-family: Comic Sans MS, sans-serif;
    color: rgb(227,232,216);
    font-weight:normal;
    font-size: 29px;
    margin-bottom: 0;
}
#headerSubtitle{
    margin-bottom: 1%;
    margin-left: 0.85%;
    font-family: Monospace, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
#headerLineHR{
    border: none;
    height: 3px;
    color: white;
    background-color: white;
    margin-bottom: 0;
}

#headerUL{
    padding: 0;
    margin-top: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
}
li.header{
    padding: 0.5% 1% 0.5% 1%;
    display: block;
    text-align: center;
    float: left;
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 12px;
    margin:0;
}
li.header:hover {
    background-color: hotpink;
}
li.header:active{
    background-color: blue;
}
a.headerA{
    text-decoration: none;
    color: white;
}

/* END HEADER */

/*DIV PARAGRAPH + RIGHT menu*/

/*PARAGRAPH DIVS*/

#paragraphHTML{
    width: 65%;
    float: left;
}

#paragraphTitle{
    color: rgb(91,108,66);
    font-size: 22px;
    font-family: Monospace, sans-serif;
    font-weight: bold;
    margin-left: 1%;
}

#paragraphHR{
    border: none;
    height: 2px;
    color:  rgb(91,108,66);
    background-color:  rgb(91,108,66);
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1%;
}

#paragraphP{
    font-size: 16px;
    font-family: Monospace, sans-serif;
    margin-left: 1%;
    margin-bottom: 10%;
    line-height: 15px;
}

.boldP{
    font-weight: bold;
}

/* END OF THE PARAGRAPH*/

/*BEGINNING OF THE LIST ON THE RIGHT*/

#listOnTheRight{
    width: 25%;
    float: left;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    border-top: solid 35px;
    border-bottom: solid 35px;
    color: rgb(218,225,207);
}

#listLOTR{
  margin-top: 5%;
}

.liLOTR{
    margin:0;
    padding: 0;
    list-style-type: none;
    color: rgb(65,87,9);
    font-family: Monospace, sans-serif;
}

.hrLOTR{
    border-color: lightgray;
    margin: 0;
    padding: 0;
    width: 90%;
}

/*END OF RIGHT LIST*/

/* END DIV PARAGRAPH + RIGHT menu*/

/* BEGINNING OTHER THREE LISTS*/

#otherThreeLists{
    width: 50%;
    float: left;
    margin-left: 3%;
    margin-top: 0;
    padding: 0;
}

.titleThreeLists{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(91,108,66);
}

.liThreeLists{
    margin-left: 2%;
    list-style-image:url('../images/check_icon.png');
    color: rgb(91,108,66);
    font-family: Monospace, sans-serif;
    font-size: 15px;
}

.hrThreeLists{
    border: 1px solid rgb(211, 229, 162);
    padding: 0;
    margin-left: -4%;
    width: 100%;
}

/* END OF THREE LISTS*/

/* IMAGE BELOW RIGHT SIDE LIST */

#divImageBelowRightList{
    margin-top: 0;
    float: right;
    width: 45%;
}

#imgImageBelowRightList{
    margin-left: 73%;

}

/*  END IMAGE BELOW RIGHT SIDE LIST */

/* FOOTER */

#pageFooter{
    clear:both;
    margin-left: 3%;
}

/* END OF FOOTER */