* {
box-sizing: border-box;
margin:0;
padding:0;
}

#menu{
    background-color: lightgreen;
    width: 20%;
    height: 400px;
    float: left;
    margin-right:2%;
}

#main{
    background-color: rgb(138,43,226);
    width: 78%;
    height: 400px;
    float: left;
 
}

#menuMainContainter{
    width: 100%;
}



.boxes{
    font-size: 25px;
    background-color: lightblue;
    float: left;
    height: 300px;
    text-align: center;
    font-weight: bold;
    /*width: 20%;
    margin: 2%;
    padding: 2em;*/
}

#box1, #box2{
    border-style: solid;
    width: 50%;
}

#box3, #box4{
    width: 48%;
    margin-left: 1%;
}

h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}