/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : 2 dic. 2021, 12:07:41
    Author     : obama
*/

$primaryColor: rgb(192,210,254);
div.bgLightBlue {
 background: $primaryColor;
}