/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : 2 dic. 2021, 12:07:41
    Author     : obama
*/

$headerBGColor: rgb(192,210,254);
$mainBGColor: rgb(216,243,254);

@mixin marginX{
 margin-left: 3%;
 margin-right: 3%;
}

div.bgMainPage{
 @include marginX;
 background-color: $mainBGColor;
}

div.bgLightBlue {
 background: $headerBGColor;
}